@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edf1ed;
  color: #0d2d25;
  font-family: 'Akkurat', sans-serif;
}
